.tasks {
  display: flex;
  align-items: center;
  justify-self: center;

  flex-direction: column;

  width: 100%;
  margin-top: 24px;
  
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  height: 244px;
}

.tasks svg {
  margin: 64px 0 16px 0;
  color: var(--gray-400);
}

.tasks span {
  color: var(--gray-300);

  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;

  text-align: center;
}

.tasks .title {
  font-weight: 700;
}